* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none!important;
}

ul {
    list-style: none!important;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --text-color1: #000000;
    --text-color2: #ffffff;
    --text-hover: #73be47;
    --body-bgc: #ffffff;
    --bg-color1: #73be47;
    --bg-color2: #f5f5f5;
    --bg-color3: #1e1e1e;
    --bg-color4: #252932;
    --font-13: 13px;
    --font-16: 16px;
    --font-26: 26px;
    --font-20: 20px;
    --font-30: 30px;
    --font-42: 42px;
    --color-brown-hover: #f39575;
    --color-brown: #a1624d;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/*  */
main#main section.container .row .infor-list-product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0rem 0.5rem;
    flex-wrap: wrap;
}
main#main section.container .row .infor-list-product .if-list-pr-left span{
    font-weight: 600;
}
main#main section.container .row .infor-list-product .if-list-pr-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main#main section.container .row .infor-list-product .if-list-pr-right > span{
    font-weight: 500;
}
main#main section.container .row .infor-list-product .if-list-pr-right .select-soft{
    border: 1px solid rgb(224, 224, 224);
    position: relative;
}
main#main section.container .row .infor-list-product .if-list-pr-right .select-soft >span{
    cursor: pointer;
    padding: 0.1rem 0.5rem;
}
main#main section.container .row .infor-list-product .if-list-pr-right .select-soft >span i{
    padding-left: 2rem;
}
main#main section.container .row .infor-list-product .if-list-pr-right .select-soft >ul{
    position: absolute;
    top:100%;
    left: 0;
    border: 1px solid rgb(224, 224, 224);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: var(--white);
    z-index: 10;
}
main#main section.container .row .infor-list-product .if-list-pr-right .select-soft:hover >ul{
    opacity: 1;
    visibility: visible;
}
main#main section.container .row .infor-list-product .if-list-pr-right .select-soft >ul li{
    cursor: pointer;
    padding: 0.1rem 0.5rem;
}
main#main section.container .row .infor-list-product .if-list-pr-right .select-soft >ul li:hover{
    background-color: rgba(128, 128, 128, 0.322);
}
main#main section.container .row .infor-list-product .if-list-pr-right .type-display button{
    border: 1px solid var(--color-brown);
    color: var(--color-brown);
    font-weight: 700;
}
main#main section.container .row .infor-list-product .if-list-pr-right .type-display button:hover{
    background-color: var(--color-brown);
    color: var(--white);
}
.displayed{
    background-color: var(--color-brown)!important;
    color: var(--white)!important;
}
/*  */
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd{
    background-color: var(--white);
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c0c0c0;
    margin: 20px 0;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct{
    width: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct .flip-box{
    height: 300px;
    position: relative;
    width: 100%;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct .flip-box .flip-box-inner{
    height: 100%;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct .flip-box .flip-box-inner > div,main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct .flip-box .flip-box-inner > div a,main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct .flip-box .flip-box-inner > div a img{
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: 0.7s;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct .flip-box .flip-box-inner > div.flip-box-back{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    transition: 0.7s;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct:hover .flip-box .flip-box-inner > div.flip-box-front,
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct:hover .flip-box .flip-box-inner > div.flip-box-back{
    transform: rotateY(180deg);
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct .flip-box .flip-box-inner > div.flip-box-back a{
    position: relative;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct .flip-box .flip-box-inner > div.flip-box-back a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.411);
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct .flip-box .flip-box-inner > div.flip-box-back a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border-radius: 50%;
    background-color: var(--color-brown);
    z-index: 5;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .img-prduct .flip-box .flip-box-inner > div.flip-box-back a i:hover{
    background-color: var(--color-brown-hover);
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .name-product{
    width: 100%;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .name-product .fp__wapper a > span{
    display: block;
    font-size: var(--font-26);
    font-weight: 700;
    color: var(--color-brown);
    padding-top: 10px;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .name-product .fp__wapper i.fp__price{
    color: var(--color-brown);
    font-weight: 500;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .name-product .fp__wapper i.fp__price del{
    color: var(--secondary);
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .name-product .fp__wapper .rating{
    font-size: 10px;
    color: var(--success);
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .name-product .fp__wapper a.fp__label{
    padding: 5px 15px;
    background-color: var(--color-brown);
    color: var(--text-color2);
    border-radius: 25px;
    font-size: var(--font-13);
    cursor: pointer;
    margin: 10px 0;
    display: inline-block;
}
main#main section.grid .row .grid-product #featuredsproducts .inner-left .fa-prd .item-pr .item-pr-v2 .name-product .fp__wapper a.fp__label:hover{
    background-color: var(--color-brown-hover);
}
/*  */
section.list .row .list-product .item-pro{
    border: 1px solid #c0c0c0;
    margin: 20px 0;
    padding: 20px;
}
section.list .row .list-product .item-pro .row .flip-box{
    height: 300px;
}
section.list .row .list-product .item-pro .row .flip-box .flip-box-inner{
    position: relative;
    transform-style: preserve-3d;
}
section.list .row .list-product .item-pro .row .flip-box .flip-box-inner, section.list .row .list-product .item-pro .row .flip-box .flip-box-inner > div{
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transform-origin: 50% 50%;
    transition: 1s;
}
section.list .row .list-product .item-pro .row .flip-box img{
    height: 100%;
    width: 100%;
}
section.list .row .list-product .item-pro .row .flip-box .flip-box-inner .flip-box-back{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
section.list .row .list-product .item-pro .row .flip-box .flip-box-inner .flip-box-back::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    opacity: 0.5;
}
section.list .row .list-product .item-pro .row .flip-box .flip-box-inner .flip-box-back i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    font-size: 1.5rem;
    color: var(--text-color2);
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bg-color1);
    cursor: pointer;
}
section.list .row .list-product .item-pro .row .flip-box .flip-box-inner:hover .flip-box-front, section.list .row .list-product .item-pro .row .flip-box .flip-box-inner:hover .flip-box-back{
    transform: rotateY(180deg);
}
section.list .row .list-product .item-pro .row .text .fp__wapper .fp__cap{
    font-size: var(--font-26);
    font-weight: 700;
    color: var(--color-brown);
    display: block;
}
section.list .row .list-product .item-pro .row .text .fp__wapper .fp__price del{
    color: #c0c0c1;
}
section.list .row .list-product .item-pro .row .text .fp__wapper .fp__price span{
    color: var(--color-brown);
    cursor: pointer;
}
section.list .row .list-product .item-pro .row .text .fp__wapper .fp__price span:hover{
    color: var(--text-hover);
}
section.list .row .list-product .item-pro .row .text .fp__wapper .rating{
    font-size: 10px;
}
.checked{
    color: var(--success);
}
section.list .row .list-product .item-pro .row .text .fp__wapper p{
    color: var(--secondary);
    font-size: var(--font-13);
    margin-bottom: 20px;
}
section.list .row .list-product .item-pro .row .text .fp__wapper a.btn{
    border-radius: 25px;
    color: var(--text-color2);
    font-size: var(--font-13);
    font-weight: 600;
    background-color: var(--color-brown);
    cursor: pointer;
}
section.list .row .list-product .item-pro .row .text .fp__wapper a.btn:hover{
    background-color: var(--color-brown-hover);
}
.show{
    display: none!important;
}

.pagi-hide{
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
    z-index: -1;
    opacity: 0!important;
    visibility: hidden!important;
    display: none!important;
}
/*  */
.page-link{
    color: var(--text-hover);
}
.page-link:hover{
    color: var(--success);
}
.page-item.active .page-link{
    background-color: var(--green);
    border: 1px solid var(--green);
}
.display{
    opacity: 1!important;
    transform: translateY(0px)!important;
}